<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
      <meta charset="UTF-8">
      <title>게시판</title>
      <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <div>
        <div>
            <h1><a th:href="@{/list}">글 작성 </a></h1>
        </div>
        <div>
            <table>
                <thead>
                  <tr>
                      <th>작성자</th>
                      <th>제목</th>
                      <th>작성일</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="post : ${list}" th:onclick=
                          "'window.location.href=\'' + @{/detail/{bno}{bno=${post.id})} + '\''">
                      <td th:text="${post.writer}"></td>
                      <td th:text="${post.title}"></td>
                      <td th:text="${post.createAt}"></td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
  </body>
</html>