<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인 실패</title>
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://fonts.googleapis.com/earlyacess/notosanskr.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="default-form">
        <div>
            <p class="notification"> 로그인에 실패하였습니다.</p>
        </div>

        <div class="links">
            <a href="http://http://localhost:8080/login">로그인 페이지로 가기</a>
        </div>
    </div>
</div>
</body>
</html>