<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입 성공</title>
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://fonts.googleapis.com/earlyacess/notosanskr.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="default-form">
        <div>
            <p class="notification"> 성공적으로 회원가입이 되었습니다.</p>
        </div>

        <div class="links">
            <a href="${contextPath}/login}">로그인 페이지로 가기</a>
        </div>
    </div>
</div>
</body>
</html>